<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>后台管理 - 易买网</title>
		<link type="text/css" rel="stylesheet" href="../css/style.css" />
		<script type="text/javascript" src="../scripts/function-manage.js"></script>
		<script type="text/javascript" src="../scripts/vue.js"></script>
		<script type="text/javascript" src="../scripts/user.js"></script>
		<script type="text/javascript" src="../scripts/param.js"></script>
		<script type="text/javascript" src="../scripts/server_url.js"></script>
		<script type="text/javascript" src="../scripts/axios.min.js"></script>
	</head>
	<body>
		<div id="app">
			<!-- 此处添加组件head -->
			<head-tmp v-bind:num="current" v-bind:user="userName"></head-tmp>
			<div id="main" class="wrap">
				<div id="menu-mng" class="lefter">
					<!-- 此处添加组件left -->
					<left-tmp></left-tmp>
				</div>

				<!-- 此处为动态数据，无法提取组件 -->
				<div class="main">
					<h2>回复留言</h2>
					<div class="manage">
						<table class="form">
								<tr>
									<td class="field">留言时间：</td>
									<td>{{comment.ecCreateTime | doTimeFilter(comment.ecCreateTime)}}</td>
								</tr>
								<tr>
									<td class="field">留言ID：</td>
									<td><input type="text" class="text" name="orderId" value="100000"
											v-model="comment.ecId" readonly="readonly" />
									</td>
								</tr>
								<tr v-if="null != comment.user">
									<td class="field">留言姓名：</td>
									<td><input type="text" class="text" name="name" v-model="comment.user.euUserName" />
									</td>
								</tr>
								<tr>
									<td class="field">留言标题：</td>
									<td>{{comment.ecTitle}}</td>
								</tr>
								<tr>
									<td class="field">留言内容：</td>
									<td>{{comment.ecContent}}</td>
								</tr>
								<tr v-if="comment.reply != null">
									<td class="field">回复内容：</td>
									<td><textarea name="replyContent" v-model="comment.reply.erReplyContent" readonly="readonly"></textarea>
									</td>
								</tr>
								<tr v-if="comment.reply == null">
									<td class="field">暂无回复</td>
									
								</tr>
							</table>
						</form>
					</div>
				</div>

				<!-- 下面这个好像没用 -->
				<div class="clear"></div>
			</div>

			<!-- 此处添加组件footer -->
			<footer-tmp></footer-tmp>
		</div>

		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					current: '5',
					userName: '',
					comment: {},
					erReplyContent: ''
				},
				methods: {
					updata: function() {
						if (null == this.comment.reply) {
							//执行新增
							axios.get(
								server_url + '/reply/addReply', {
									params: {
										ecId: this.comment.ecId,
										euId: this.comment.euId,
										erReplyContent: this.comerReplyContent
									}
								}
							).then(res => {
								window.location.href = "manage-result.html"
							}).catch(err => {
								console.log(err);
							});
						} else if (null != this.comment.reply) {
							//执行修改
							axios.get(
								server_url + '/reply/updateReply', {
									params: {
										erReplyContent: this.comment.reply.erReplyContent,
										erId:this.comment.reply.erId
									}
								}
							).then(res => {
								window.location.href = "manage-result.html"
							}).catch(err => {
								console.log(err);
							});
						}
					}
				},
				filters: {
					// 图片显示
					doPictureFilter: function(euPicture) {
						return server_url + euPicture;
					},
					// 时间显示
					doTimeFilter: function(timeStamp) {
						let year = new Date(timeStamp).getFullYear();
						let month = new Date(timeStamp).getMonth() + 1 < 10 ? "0" + (new Date(timeStamp).getMonth() +
								1) :
							new Date(timeStamp).getMonth() + 1;
						let date = new Date(timeStamp).getDate() < 10 ? "0" + new Date(timeStamp).getDate() :
							new Date(
								timeStamp).getDate();
						let hh = new Date(timeStamp).getHours() < 10 ? "0" + new Date(timeStamp).getHours() :
							new Date(
								timeStamp).getHours();
						let mm = new Date(timeStamp).getMinutes() < 10 ? "0" + new Date(timeStamp).getMinutes() :
							new Date(
								timeStamp).getMinutes();
						let ss = new Date(timeStamp).getSeconds() < 10 ? "0" + new Date(timeStamp).getSeconds() :
							new Date(
								timeStamp).getSeconds();
						var nowTime = year + "年" + month + "月" + date + "日" + " " + hh + ":" + mm + ':' + ss;
						return nowTime;
					}
				},
				mounted: function() { //mounted函数在页面加载时执行
					//判断用户是否登录
					if (null != sessionStorage.getItem("userMsg") && '' != sessionStorage.getItem("userMsg")) {
						//sessionStorage中保存的字符串转成对象
						var user = JSON.parse(sessionStorage.getItem("userMsg"));
						//判断是不是管理员
						if (null != user.euType && user.euType == "1") {
							//判断用户名为不为空
							if (null != user.euUserName) {
								//判断都成功则进行赋值
								this.userName = user.euUserName;
								var comment = JSON.parse(sessionStorage.getItem("comment"));
								this.comment = comment;
							} else {
								window.location.href = "../shop/login.html"
							}
						} else {
							window.location.href = "../shop/login.html"
						}
					} else {
						window.location.href = "../shop/login.html"
					}
				
				},
				//注册分页条组件
				components: {
					'head-tmp': head,
					'left-tmp': left,
					'footer-tmp': footer
				}
			})
		</script>

	</body>
</html>
