<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>后台管理 - 易买网</title>
		<link type="text/css" rel="stylesheet" href="../css/style.css" />
		<script type="text/javascript" src="../scripts/function-manage.js"></script>
		<script type="text/javascript" src="../scripts/vue.js"></script>
		<script type="text/javascript" src="../scripts/user.js"></script>
		<script type="text/javascript" src="../scripts/param.js"></script>
		<script type="text/javascript" src="../scripts/server_url.js"></script>
		<script type="text/javascript" src="../scripts/axios.min.js"></script>
	</head>
	<body>
		<div id="app">
			<!-- 此处添加组件head -->
			<head-tmp v-bind:num="current" v-bind:user="userName"></head-tmp>
			<div id="main" class="wrap">
				<div id="menu-mng" class="lefter">
					<!-- 此处添加组件left -->
					<left-tmp></left-tmp>
				</div>

				<!-- 此处为动态数据，无法提取组件 -->
				<div class="main">
					<h2>修改密码</h2>
					<div class="manage">
						<form action="manage-result.html">
							<table class="form">
								<tr>
									<td class="field">旧密码：</td>
									<td><input type="text" class="text" name="passWord" v-model="passWord" v-on:blur="checkPassWord()" />
									<span v-bind:style="'color:'+what1">
										{{msg1}}
									</span>
									</td>
								</tr>
								<tr>
									<td class="field">新密码：</td>
									<td><input type="text" class="text" name="newPassWord" v-model="newPassWord" v-on:blur="checkNewPassWord()" />
									<span v-bind:style="'color:'+what2">
										{{msg2}}
									</span>
									</td>
								</tr>
								<tr>
									<td class="field">确认密码：</td>
									<td><input type="text" class="text" name="newsPassWord" v-model="newsPassWord" v-on:blur="checkTwoPassWord()"/>
									<span v-bind:style="'color:'+what3">
										{{msg3}}
									</span>
									</td>
								</tr>

								<tr>
									<td></td>
									<td>
										<label class="ui-blue"><input type="button" name="submit" value="提交" v-on:click="submit()" /></label>
										<label class="ui-blue"><input type="button" name="cancel" value="取消" /></label>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>

				<!-- 下面这个好像没用 -->
				<div class="clear"></div>
			</div>

			<!-- 此处添加组件footer -->
			<footer-tmp></footer-tmp>
		</div>

		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					current: '2',
					userName: '',
					
					
					passWord:'',
					msg1:'',
					what1:'',
					
					newPassWord:'',
					msg2:'',
					what2:'',
					
					newsPassWord:'',
					msg3:'',
					what3:'',
					
					check:0
					
				},
				methods:{
					checkPassWord:function(){
						if(null==this.passWord || ''==this.passWord){
							this.what1 = "red"
							this.msg1 = "旧密码不能为空"
						}else{
							this.what1 = "green"
							this.msg1 = "√"
						}
					},
					checkNewPassWord:function(){
						if(null==this.newPassWord || ''==this.newPassWord){
							this.what2 = "red"
							this.msg2 = "新密码不能为空"
						}else{
							this.what2 = "green"
							this.msg2 = "新密码可用"
						}
					},
					
					checkTwoPassWord:function(){
						if(null==this.newsPassWord || ''==this.newsPassWord){
							this.what3 = "red"
							this.msg3 = "确认密码不能为空"
						}else{
							if(this.newPassWord == this.newsPassWord){
								this.what3 = "green"
								this.msg3="密码一致"
							}else{
								this.what3 = "red"
								this.msg3="两次密码不一致"
							}
						}
						
	
					},
					
					submit:function(){
						this.checkPassWord();
						this.checkNewPassWord();
						this.checkTwoPassWord();
						var user = JSON.parse(sessionStorage.getItem("userMsg"));
						if("green"==this.what1 && "green"==this.what2 && "green"==this.what3){
							var formData = new FormData();
							formData.append("euId",user.euId);
							formData.append("euPassword",this.passWord);
							formData.append("newsPassWord",this.newsPassWord);
							
								
							axios.post(
								server_url + '/user/updatePassWord',
								formData,	
							
								{
							    	headers: {'Content-Type':'multipart/form-data'}
							    }
							).then(res=>{
								if(res.data.resultCode=="00"){
									window.location.href = "manage-result.html"
								}else if(res.data.resultCode=="-1"){
									this.what1 = "red"
									this.msg1 = "密码错误"
								}
							}).catch(err=>{
								console.log(err);
							})
						}
					}
				},
				mounted: function() { //mounted函数在页面加载时执行
					//判断是否登录了
					if (null != sessionStorage.getItem("userMsg") && '' != sessionStorage.getItem("userMsg")) {
						var user = JSON.parse(sessionStorage.getItem("userMsg"));
						//判断账号是否被禁用
						if (null != user.euStatus && user.euStatus == "1") {
							//判断账号是否有用户名
							if (null != user.euUserName) {
								//取出用户名放在header
								this.userName = user.euUserName;
							} else {
								window.location.href = "../shop/login.html"
							}
						} else {
							window.location.href = "../shop/login.html"
						}
					} else {
						window.location.href = "../shop/login.html"
					}
				},
				//注册组件
				components: {
					'head-tmp': head,
					'left-tmp': left,
					'footer-tmp': footer
				}
			})
		</script>

	</body>
</html>
