<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理 - 易买网</title>
<link type="text/css" rel="stylesheet" href="../css/style.css" />
<script type="text/javascript" src="../scripts/function-manage.js"></script>
<script type="text/javascript" src="../scripts/vue.js"></script>
<script type="text/javascript" src="../scripts/navigation.js"></script>
<script type="text/javascript" src="../scripts/axios.min.js"></script>
<script type="text/javascript" src="../scripts/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../scripts/param.js"></script>
<script type="text/javascript" src="../scripts/server_url.js"></script>
</head>
<body>
<div id="app">
	<head-tmp v-bind:num="current" v-bind:user="userName"></head-tmp>
	<div id="main" class="wrap">
		<div id="menu-mng" class="lefter">
			<div class="box">
				<left-tmp></left-tmp>
			</div>
		</div>
		<div class="main">
			<h2>修改商品</h2>
			<div class="manage">
				<form action="manage-result.html">
					<table class="form">
						<tr>
							<td class="field">商品编号：</td>
							<td><input type="text" class="text" name="epId" value="" v-model="product.epId" readonly/></td>
						</tr>
						<tr>
							<td class="field">商品名称：</td>
							<td><input type="text" class="text" name="epName" value="" v-model="product.epName" /></td>
						</tr>
						<tr>
							<td class="field">所属分类：</td>
							<td>
								<select name="epcId" v-model="product.epcId">
									<option v-for="(item, index) in productClass" :value="item.epcId">{{item.epcName}}</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class="field">推广类别1</td>
							<td>
								<input type="radio" name="epPromotionCategory" value="1" v-model="product.epPromotionCategory" />热卖推荐
								<input type="radio" name="epPromotionCategory" value="2" v-model="product.epPromotionCategory"/>今日特卖
								<input type="radio" name="epPromotionCategory" value="3" v-model="product.epPromotionCategory" />无推广
							</td>
						</tr>
						<tr>
							<td class="field">商品图片：</td>
							<td><input type="file" class="text" name="epPicture" /></td>
						</tr>
						<tr>
							<td class="field">商品价格：</td>
							<td><input type="text" class="text tiny" name="epPrice" v-model="product.epPrice"/> 元</td>
						</tr>
						<tr>
							<td class="field">库存：</td>
							<td><input type="text" class="text tiny" name="epStock" v-model="product.epStock" /></td>
						</tr>
						<tr>
							<td class="field">商品详情：</td>
							<td><textarea name="epDescription" v-model="product.epDescription"></textarea></td>
						</tr>
						<tr>
							<td></td>
							<td><label class="ui-blue"><input type="button" name="btn" value="修改" v-on:click="doUpdate"/></label></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<footer-tmp></footer-tmp>
</div>
<script>
	var vm = new Vue({
			el:'#app',
			data:{
				current:'3',
				userName:'',
				productClass:{},
				product:{
					epId:'',
					epcId:'',
					epName: '',
					epPromotionCategory:'',
					epPrice:'',
					epStock: '',
					epDescription: ''
				}
			},
			methods: {
				// 修改商品
				doUpdate:function(){
					// 文件上传格式
					var formdata = new FormData();
					formdata.append('epId',this.product.epId);
					formdata.append('epcId',this.product.epcId)
					formdata.append('epPicture',$("input[name='epPicture']")[0].files[0]);
					formdata.append('epName',this.product.epName);
					formdata.append('epPromotionCategory',this.product.epPromotionCategory);
					formdata.append('epPrice',this.product.epPrice);
					formdata.append('epStock',this.product.epStock);
					formdata.append('epDescription',this.product.epDescription);
					axios.post(
						server_url + '/product/updateProduct',
						formdata,
						{
							// headers: {'Content-Type': 'application/x-www-form-urlencoded'}
							headers: {'Content-Type': 'multipart/form-data'}
						}
					).then(res=>{
						alert("修改商品成功！");
						window.location.href='product.html'
					}).catch(err=>{
						console.log(err);
					})
				}
			},
			components:{
				'head-tmp': head,
				'left-tmp': left,
				'footer-tmp': footer
			},
			mounted() {
				var ep_Id = getUrlParam('epId');
	
	
				// 获取分类信息
				axios.get(
					server_url + '/productClass/getProductClassList',
				).then(res=>{
					this.productClass = res.data.t;
				});
				// 通过id查找商品信息
				axios.get(server_url +'/product/getProductById',
					{
						params:{epId:ep_Id}
					}
				).then(res=>{
					this.product = res.data.t;
					console.log(this.product.t);
				}).catch(err=>{
					console.log(err);
				});
			},
		});
	</script>
</body>

</html>
